fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.31
alembic==1.13.2
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.3.4
dbfread==2.0.7
openpyxl==3.1.5
apscheduler==3.11.2
requests==2.34.2
psycopg2-binary==2.9.10
